{% extends "base.html" %}

{% block content %}

<h1> {{ movie.name|escape }} </h1>

{% if movie.subname %}
<h2>{{movie.subname|escape }}</h2>
{% endif %}

<!--<div>Path: {{ movie.path|escape }}</div>-->

{% if movie.year %}
<div>Year: {{ movie.year|escape }}</div>
{% endif %}

{% if movie.genre %}
<div>Genre: {{ movie.genre|escape }}</div>
{% endif %}

{% if movie.language %}
<div>Language: {{ movie.language|escape }}</div>
{% endif %}

{% if movie.source %}
<div>Source: {{ movie.source|escape }}</div>
{% endif %}

<div>IMDB: <a target="_blank" href="http://www.imdb.com/find?s=all&q={{ movie.name|urlencode }}{%if movie.subname %}+{{ movie.subname|urlencode }}{% endif %}">search</a></div>

{% if movie.size and size %}
<div>Size: {{ size|escape }}</div>
{% endif %}

<br />

{% if movie.creator %}
<div>Contributor: {{ movie.creator.username|escape }}</div>
{% endif %}

<div>Download: 
{% for df in downloadFiles %}
    <br/>
    <a target="_blank" href="{{ df.downloadLink }}">{{ df.downloadLink|escape }}</a>
     - 
    <a target="_blank" href="/items/key/{{df.key.id}}/">keyfile</a>
{% endfor %}

{% if not uploadRequest.done %}
    {% if uploadRequest %}
Already requested. The file is now <span name="itemState{{ uploadRequest.item.id }}">
        {% ifequal uploadRequest.state 0 %}
queued
        {% endifequal %}
        {% ifequal uploadRequest.state 1 %}
taring ({{ uploadRequest.tared  }}%)
        {% endifequal %}
        {% ifequal uploadRequest.state 2 %}
encrypting ({{ uploadRequest.encrypted  }}%)
        {% endifequal %}
        {% ifequal uploadRequest.state 3 %}
splitting ({{ uploadRequest.splitted }}%)
        {% endifequal %}
        {% ifequal uploadRequest.state 4 %}
uploading ({{ uploadRequest.uploaded  }}%)
        {% endifequal %}
        </span>.

    {% else %}
        {% if not downloadFiles %}
            {% if movie.present %}
                {% if pathAvailable %}
<a href="/movies/create/{{ movie.id }}/">Create Download</a>
                {% else %}
The files are currently not available, but you can create a request, that will be served later, when the files are available again <a href="/movies/create/{{ movie.id }}/">here</a>.
                {% endif %}
            {% else %}
Sorry, the files are not locally available and therefore no download links can be created.
                {% if movie.creator %}
<a href="/movies/request/{{ movie.id }}">Request upload of the movie.</a>
                {% endif %}
            {% endif%}
        {% endif %}
    {% endif %}
{% endif %}

{% if message %}
<div><b>Message: {{ message|escape }}</b></div>
{% endif %}

</div>
{% if wvotes %}
<br/>
<div>Marked watchable by:
    {% for wv in wvotes %}
        {{ wv.user|escape }}
    {% endfor %}
</div>
{% endif %}
{% if nvotes %}
<br/>
<div>Marked unwatchable by:
    {% for nv in nvotes %}
        {{ nv.user|escape }}
    {% endfor %}
</div>
{% endif %}

<br/>
<fieldset>
    <legend>Is this in a watchable quality?</legend>
    <form method="POST">{% csrf_token %}
        <tr><td>
            <select name="watchable">
                <option>watchable</option>
                <option>not watchable</option>
            </select>
            </td></tr>
        <tr><td><input type="submit" /></td></tr>
    </form>
</fieldset>

{% endblock %}
