{% extends "base.html" %}

{% block content %}

<h1>{{ season.serie.name|escape }}</h1>

<h2>Season {{ season.number|escape }}</h2>

{% if season.subname %}
<h3>{{ season.subname|escape }}</h3>
{% endif %}

{% if season.year %}
<div>Year: {{ season.year|escape }}</div>
{% endif %}

{% if season.genre %}
<div>Genre: {{ season.genre|escape }}</div>
{% endif %}

{% if season.language %}
<div>Language: {{ season.language|escape }}</div>
{% endif %}

{% if season.source %}
<div>Source: {{ season.source|escape }}</div>
{% endif %}

{% if season.size and size %}
<div>Size: {{ size|escape }}</div>
{% endif %}

<div>IMDB: <a target="_blank" href="http://www.imdb.com/find?s=all&q={{ season.serie.name|urlencode }}{%if season.subname %}+{{ season.subname|urlencode }}{% endif %}">search</a></div>

<br />

{% if season.creator %}
<div>Contributor: {{ season.creator.username|escape }}</div>
{% endif %}

<div>Download:
{% for dfg in downloadFileGroups %}
<div id="LinkGroup">
    <fieldset>
        <legend>Download Links:</legend>
        <a target="_blank" href="/items/key/{{ dfg.key.id }}/">keyfile</a>
    {% for df in dfg.getDownloadFiles %}
        <br/>
        <a target="_blank" href="{{ df.downloadLink|urlencode }}">{{ df.downloadLink|escape }}</a>
    {% endfor %}
    </fieldset>
</div>
{% endfor %}

{% if not uploadRequest.done %}
    {% if uploadRequest %}
Already requested. The file is now <span name="itemState{{ uploadRequest.item.id }}">
        {% ifequal uploadRequest.state 0 %}
queued
        {% endifequal %}
        {% ifequal uploadRequest.state 1 %}
taring ({{ uploadRequest.tared  }}%)
        {% endifequal %}
        {% ifequal uploadRequest.state 2 %}
encrypting ({{ uploadRequest.encrypted  }}%)
        {% endifequal %}
        {% ifequal uploadRequest.state 3 %}
splitting ({{ uploadRequest.splitted }}%)
        {% endifequal %}
        {% ifequal uploadRequest.state 4 %}
uploading ({{ uploadRequest.uploaded  }}%)
        {% endifequal %}
        </span>.

    {% else %}
        {% if not downloadFileGroups %}
            {% if season.present %}
                {% if pathAvailable %}
<a href="/series/create/{{ season.id }}/">Create Download</a>
                {% else %}
The files are currently not available, but you can create a request, that will be served later, when the files are available again <a href="/series/create/{{ season.id }}/">here</a>.
                {% endif %}
            {% else %}
Sorry, the files are not locally available and therefore no download links can be created.
                {% if season.creator %}
<a href="/series/request/{{ season.id }}">Request upload of the season.</a>
                {% endif %}
            {% endif%}
        {% endif %}
    {% endif %}
{% endif %}

{% if message %}
    <div>
        <fieldset>
            <legend>Message:</legend>
            {{ message|escape }}
        </fieldset>
    </div>
{% endif %}

{% if season.directoryListing %}
<hr />
<div>Directoy Listing:
    <pre>
{{ season.directoryListing|escape }}
    </pre>
</div>
<hr />
{% endif %}

<div>
    <form action="/series/addlinks/{{ season.id }}/" enctype="multipart/form-data" method="POST">{% csrf_token %}
        <fieldset>
            <legend>Add download links:</legend>
            <table>
                {{ addItemForm }}
                <tr><td><input type="submit" /></td></tr>
            </table>
        </fieldset>
    </form>
</div>

{% endblock %}
