{% extends "base.html" %}

{% block content %}

<h1>{{ season.serie.name|escape }}</h1>

<h2>Season {{ season.number|escape }}</h2>

{% if season.subname %}
<h3>{{ season.subname|escape }}</h3>
{% endif %}

{% if season.year %}
<div>Year: {{ season.year|escape }}</div>
{% endif %}

{% if season.genre %}
<div>Genre: {{ season.genre|escape }}</div>
{% endif %}

{% if season.language %}
<div>Language: {{ season.language|escape }}</div>
{% endif %}

{% if season.source %}
<div>Source: {{ season.source|escape }}</div>
{% endif %}

{% if season.size %}
<div>Size: {{ size|escape }}</div>
{% endif %}

<div>IMDB: <a target="_blank" href="http://www.imdb.com/find?s=all&q={{ season.serie.name|urlencode }}{%if season.subname %}+{{ season.subname|urlencode }}{% endif %}">search</a></div>

<div>Download:
{% for df in downloadFiles %}
    <br/>
    <a target="_blank" href="{{ df.downloadLink }}">{{ df.downloadLink|escape }}</a>
     - 
    <a target="_blank" href="/items/key/{{df.key.id}}/">keyfile</a>
{% endfor %}

{% if not uploadRequest.done %}
    {% if uploadRequest %}
Already requested. The file is now <span name="itemState{{ uploadRequest.item.id }}">
        {% ifequal uploadRequest.state 0 %}
queued
        {% endifequal %}
        {% ifequal uploadRequest.state 1 %}
taring ({{ uploadRequest.tared  }}%)
        {% endifequal %}
        {% ifequal uploadRequest.state 2 %}
encrypting ({{ uploadRequest.encrypted  }}%)
        {% endifequal %}
        {% ifequal uploadRequest.state 3 %}
splitting ({{ uploadRequest.splitted }}%)
        {% endifequal %}
        {% ifequal uploadRequest.state 4 %}
uploading ({{ uploadRequest.uploaded  }}%)
        {% endifequal %}
        </span>.

    {% else %}
        {% if not downloadFiles and season.present %}
<a href="/series/create/{{ season.id }}/">Create Download</a>
        {% endif %}
    {% endif %}
{% endif %}

{% if season.directoryListing %}
<hr />
<div>Directoy Listing:
    <pre>
{{ season.directoryListing|escape }}
    </pre>
</div>
<hr />
{% endif %}

{% endblock %}
