{% extends "base.html" %}

{% block content %}

<h1>{{ serie.name|escape }}</h1>

<ul>
{% for season in seasons %}
    <li>
        <a href="/series/season/{{ season.id }}">
            Season {{ season.number|escape }}{% if season.subname %} ({{ season.subname|escape }}){% endif %}
        </a>
        {% for dur in doneUploadRequests %}
            {% ifequal dur.item.id season.id %}
                (ready)
            {% endifequal %}
        {% endfor %}
    </li>
{% endfor %}
</ul>

{% endblock %}
