{% extends "nologinbase.html" %}

{% block content %}

{% if error %}
<h4>{{ error|escape }}</h4>
{% endif %}

{% if regform %}
<form method="POST">{% csrf_token %}
    <fieldset>
    <legend>Registration</legend>
    <table>
        {% for field in regform %}
            <tr>
                <th><label for="id_{{field.name}}">{{ field.label }}</th>
                <td>{{ field }}</td>
                <td>{{ field.errors }}</td>
            </tr>
        {% endfor %}
        <tr><td><input type="submit" /></td></tr>
    </table>
    </fieldset>
</form>

<div>Already member? -&gt;<a href="/users/login/">Login</a></div>

{% endif %}

{% endblock %}
